html,
body
{
  height: 100%;
  margin: 0;
}
.navbar{
  margin-bottom: 0;
}
  



.grid-slide img {
  float: left;  
  width: 33%;
  padding: 1px;
}



.tales {
  width: 400%;
}
.carousel-inner{
  width:100%;
  
}
.row{
  width: 100%;
  border-style: 5px solid black;

}
.middle{
  height: 300%;
}

.push{
  margin-left:10%;
}

.push2
{
  margin-left: 15%;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    display:block;
    background-position-y:25%;
    
}

.carousel-caption
{
  position: absolute;
  top: 300px;
  
  color: #FFFFFF;
  font-size: 35px;
  font-style:italic;
  font-family:SketchFlow Print;
}



.row img
{
  /*box-shadow: 50px; */
  border-left-color: solid;
   /*border-radius: 5px;*/
}








/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
  height: auto;
  padding-top: 40px;
 

  
}
#grey
{
  background-color: #e7e7e7;
  width: 100%;
  padding-top:40px;
  
    margin: 0px;
    font-family:Arial; 
    padding-bottom:40px;
}

@keyframes example {
    from {color: #FFFFFF;}
    to {color: black;}
}

/* The element to apply the animation to */
/*#white {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
*/
#white
{
   background-color:#FFFFFF;
    font-size:16px; 
    font-family:Arial; 
    padding-bottom:40px;
    animation-name: example;
    animation-duration: 4s;}
    
     
ol {
  padding-left: 80px;

}



  }

   #slider img:hover
   {
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 4s, height 8s;
   }



}
.container .credit {
  margin: 20px 0;
}

#space
{
  padding-top: 100px;
  margin:0;
}


/*.footer
{
  height: 200px;
  width: 100%;
  background-color:#FFFFFF ;
  position: relative;
  
  bottom: 0;
  padding-top: 300px;
}*/
i
{
  
  width: 20%;
  height: 100px;
}





.grid_main{
  margin:0;
}


.updiv
{
    background-color: #333;
    height: 29vh;
    text-align: center;
}

.downdiv
{
  
height: 50px;
  text-align: center;
}



#mblock
{
 
  height: 26vh;
  width: 100%;
  background-color:#38394e;
  color: #FFFFFF;
  text-align: center;
  padding-top:20px; 
  
}
#mblock1
{
  
  /*width: 100%;*/
  background-image: url('../img/smile3.jpg');
  color: #FFFFFF;
  text-align: center;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;





 /* padding-top:50px;*/
 /* padding-bottom: 30px; */
 /* margin-bottom: 80px;*/
}






/****
   FORMS 
***/
form ul li{
  list-style:none; /*removes the bullet sign*/
  margin: 10px 0;   /*creates spaces in-between the input*/ 
}


/*Form button*/
button{
  width: 185px;
  height: 40px;
  background-color:#e7e7e7;
  color:#FFF;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;  /*Signifies that the button can be clicked*/
}

input{
  width: 365px;
  height: 40px;
  font-size: 1.05em;
  border:1px solid #ccc;
}

textarea{

  width: 365px;
  height: 100px;
  font-size: 1.05em;
}

button,input,textarea{
  /* border-radius: 5px;*/   /*curves the corners*/
  box-shadow: 1px 0px 1px #ccc;
   
   padding: 2px 10px;
}


/****

CONTACT FORM
*****/
#contact_form{
  width: 100%;
  padding: 20px 0;
  float: left;
  text-align: center;
 
  /*;*/
}

#contact_form > form{
    width: 30%;
    margin: 10px 33%;
}


.img-wrapper
{
  position: relative;
}

.img-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.img-overlay:before
{
  content: '';
  display: block;
  height: 50%;
}







.menu ul li 
{
 margin-left: 10px;
  margin-right: 10px;
  
}

.btt p span
{
  
  color: #FFFFFF;
  font-size:50px;
  margin-right: 0px;
}


.trans
{
  height:300px;
  background-color: #1c2179;
  width: 50%;
  float: left;
}

.trans span
{
  color: #FFFFFF;
  font-size:50px;
  float: right;
  padding-top: 120px;
}

.mbrship 
{
  
  text-align: center;
  padding-top: 30px;
}

.mbrship a

{
  width: 285px;
  height: 60px;
  background-color:#e7e7e7;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 5px;
}

#bg 
{
  background-image: url('../img/bgimg.jpg');
  height: 90vh;
  
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 40px;


}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.line
{
  transform-origin: 0 100%;
  height:3px;
  background:#000;
}


footer
{
  display: -webkit-flex;
  display: flex;
 background-color:#05021f;
 position: relative;
 margin-bottom: 0px;
 padding-bottom: 0px;

 

}


/*@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to 
div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
     animation-iteration-count: 3;
}
*/

/*body {
  font-family: 'Open Sans', sans-serif;
  background: #e9e9e9;*/


 ul {
  padding:  0  15px ;
  list-style: none;
}

.copyright {
  padding: 15px 0;
  font-size: 10px;
  text-align: center;
  border-top: 1px outset #f9f9f9;
}

footer .container 
{
  margin: 0px;
  padding: 15px;
  color: #e7e7e7;
}

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #E7E7E7;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  black;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  black;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
   color:  black;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
   color:  black;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  /*padding:  50px;*/
  font-weight: bold;
  float: right;
}

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}


.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  white;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


.card .btn, .card .btn.inverse:hover{color:#FFFFFF; background-color:#05021f; border-color:#05021f; margin-top: 10px;}
.card .btn:hover, .card .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}



.fa
{
  color: #e7e7e7;
}

ul li a 
{
  color: #e7e7e7;
}


.center-block {float:none}
.no-margin {margin-top:0; padding-top:20px}
.add-margin {margin-top:25px; padding-top:20px}
/*.required {color:red; font-weight:bold}*/
.human {margin: 0 0 0 12px}



























