html,
body {
  height: 100%;
  margin: 0;
}
.navbar{
  margin-bottom: 0;
}





.tales {
  width: 400%;
}
.carousel-inner{
  width:100%;
  
}
.row{
  width: 100%;
  border-style: 5px solid black;

}
.middle{
  height: 300%;
}

.push{
  margin-left:10%;
}

.push2
{
  margin-left: 15%;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    display:block;
    background-position-y:25%;
    
}

.carousel-caption
{
  position: absolute;
  top: 300px;
  border-bottom-style:solid;
  color: #FFFFFF;
  font-size: 35px;
  font-style:italic;
  font-family:SketchFlow Print;
}



.row img
{
  /*box-shadow: 50px; */
  border-left-color: solid;
   /*border-radius: 5px;*/
}

#secbox
{
  padding:10px;
  
}

#fourbox
{
padding:10px;

}


#sixbox
{
 padding:10px;

}







/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color: #abcdef;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
  height: auto;
  padding-top: 40px;
  

  
}
#grey
{
  background-color: #e7e7e7;
  width: 100%;
}

#white
{
   background-color:#FFFFFF;
}

#join_us
{

  height: 350px;
  width:50%;
  background-color: orange;


}
.container .credit {
  margin: 20px 0;
}

#space
{
  padding-top: 100px;
  margin:0;
}


.footer
{
  height: 200px;
  width: 100%;
  background-color:#FFFFFF ;
  position: relative;
  padding: 10px;
  bottom: 0;
  /*padding-top: 300px;*/
}
i
{
  
  width: 20%;
  height: 100px;
}

.tiles{
  padding:0;
  margin: 0;
  height: 38vh;
  background: #38394e;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 15px;
  border: 1px solid #FFF;
}

.tiles img{
  width: 100%;
  height: 100%;
}

.grid_main{
  margin:0;
}


.updiv
{
    background-color: #333;
    height: 29vh;
    text-align: center;
}

.downdiv
{
  
 background-color:#38394e;
 height:10vh;
  text-align: center;
}



#mblock
{
 
  height: 26vh;
  width: 100%;
  background-color:#38394e;
  color: #FFFFFF;
  text-align: center;
  padding-top:20px; 
  
}
#mblock1
{
  height: 36vh;
  width: 100%;
  background-image: url('../img/membership.png');
  color: #FFFFFF;
  text-align: center;
  padding-top:50px; 
}

/*header
{
  padding-bottom: 300px;
}*/

#hq
{
  text-align: center;
  text-decoration: none;
 padding-top: 100px;
  background-color:#e7e7e7;
 height: 58vh;
 
}

#postal
{
  background-color:#e7e7e7;
   height: 58vh;
    padding-top: 100px;
   text-align: center;
  text-decoration: none;
}


/****
   FORMS 
***/
form ul li{
  list-style: none; /*removes the bullet sign*/
  margin: 10px 0;   /*creates spaces in-between the input*/ 
}

/*Form button*/
button{
  width: 185px;
  height: 40px;
  background-color:#e7e7e7;
  color:#FFF;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;  /*Signifies that the button can be clicked*/
}

input{
  width: 365px;
  height: 40px;
  font-size: 1.05em;
  border:1px solid #ccc;
}

textarea{

  width: 365px;
  height: 100px;
  font-size: 1.05em;
}

button,input,textarea{
  /* border-radius: 5px;*/   /*curves the corners*/
  box-shadow: 1px 0px 1px #ccc;
   
   padding: 2px 10px;
}


/****

CONTACT FORM
*****/
#contact_form{
  width: 100%;
  padding: 20px 0;
  float: left;
  text-align: center;
  background-color:#38394e; 
  /*;*/
}

#contact_form > form{
    width: 30%;
    margin: 10px 33%;
}


.img-wrapper
{
  position: relative;
}

.img-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.img-overlay:before
{
  content: '';
  display: block;
  height: 50%;
}


.icons
{
  padding-top:50px;
}

.icons ul li
{
  margin-left: 30px;
  margin-right: 30px;
}


.menu ul li 
{
 margin-left: 10px;
  margin-right: 10px;
  
}

.btt p span
{
  
  color: #FFFFFF;
  font-size:50px;
  margin-right: 0px;
}


.trans
{
  height:300px;
  background-color: lightblue;
  width: 50%;
  float: left;
}

.trans span
{
  color: #FFFFFF;
  font-size:50px;
  float: right;
  padding-top: 120px;
}

.mbrship 
{
  padding-left: 100px;
  text-align: center;
  padding-top: 40px;
}

.mbrship button

{
  width: 285px;
  height: 60px;
  background-color:#e7e7e7;
  color:#FFF;
  border: 2px solid grey;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 5px;
}













































